/* --- global styles --- */
body{
    margin: 0;
    padding: 0;
    background-color: rgb(36, 36, 36);
    overflow-x: hidden;
}

/*
========
 navbar
========
*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding-top: 1em;
}
.nav-links{
    display: flex;
    list-style: none;
}
.link-text{
    position: relative;
    text-decoration: none;
    color: white;
    margin-left: 5em;
}

.link-text::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transition: width 0.2s ease-in;
}
.link-text:hover::after{
    width: 100%;
}

/*
========
  main
========
*/
main{
    margin-top: 10em;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
}

.carousel{
    overflow: hidden;
    max-width: 1280px;
    position: relative;
}
.car-title{
    margin-top: 0;
    color: white;
    text-align: center;
}
.carousel_item,
.carousel_item--hidden{
    display: none;
}

.carousel_item--visible{
    display: block;
    animation: fade 0.5s;
}

.carousel_item img{
    border-radius: 10px;
    max-width: 100%;
}

.carousel_actions{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel_actions button{
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 2.5rem;
}

.carousel_actions button#carousel_button--prev{
    margin-left: 20px;
}
.carousel_actions button#carousel_button--next{
    margin-right: 20px;
}

.carousel_bullets{
    position: absolute;
    bottom: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car-bull{
    border-radius: 50%;
    border: 2px solid white;
    background: none;
    padding: 0.35em;
    cursor: pointer;
}
.car-bull-choose{
    background: white;
}
.car-bull:not(:last-child){
    margin-right: 1em;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}